<p id="notice"><%= notice %></p>

<h1>Search Articles: <%= @keyword %></h1>

<% if @articles != nil %>
    <% @articles.each do |article| %>
        <%= render partial: 'index_article', locals: {article: article} %>
    <% end %>
<% else %>
    <h4>Your input is empty or There is nothing matching</h4>
<% end %>
